header {
  width: 14.5rem;
  height: 0.7rem;
  position: fixed;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid #f3f3f3;
  padding: 1.3rem 0.75rem 0.45rem;
  background: #fff; }

header h1 {
  position: absolute;
  top: 0.4rem;
  left: 6.5rem; }

header h1 img {
  height: 1.75rem;
  width: 3.05rem; }

header li:first-child img {
  width: 1.2rem;
  height: 0.9rem; }

header li:nth-child(2) img {
  width: 0.7rem;
  height: 0.6rem;
  margin-left: 1.5rem; }

header li:last-child img {
  width: 0.9rem;
  height: 0.9rem; }

section {
  padding-top: 2.5rem;
  width: 16rem;
  height: 25.9rem; }

section .img_1 {
  width: 16rem;
  height: 35rem;
  position: relative;
  left: 50%;
  top: 0;
  margin-left: -160px;
  margin-top: -100px;
  transform: translateZ(0); }

section .one {
  width: 16rem;
  height: 4.2rem;
  padding-top: 2rem;
  position: absolute;
  top: 2.5rem; }

section .one h2 {
  color: #a37e2c;
  font-size: 0.6rem;
  text-align: center;
  font-family: DFPSongStd,STSong,"Heiti SC Light","ST Heiti SC Light","STHeiti SC Light",STHeitiSC-Light,"STHeiti Light",STXihei,serif; }

section .one h3 {
  color: #212121;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.15rem;
  line-height: 1.2;
  margin-bottom: 1.5rem; }

section .one .btn {
  width: 14rem;
  height: 2.1rem;
  margin-left: 1rem;
  border: 0.05rem solid #e6e6e6; }

section .one .btn input {
  width: 10rem;
  height: 2.1rem;
  font-size: 0.6rem;
  padding: 0 1rem 0;
  margin-top: 0.2rem;
  margin-left: -0.05rem;
  border: 0.05rem solid #e6e6e6;
  border-right: none;
  position: absolute;
  top: 5rem; }

section .one .btn button {
  width: 2rem;
  height: 2.1rem;
  background: #fff;
  border: none;
  float: right; }

section .one .btn button img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem; }

section .one .map {
  width: 4.5rem;
  height: 1rem;
  padding: 1.5rem 1.5rem;
  margin-left: 4.5rem; }

section .one .map p {
  margin: 0.15rem;
  color: #818181;
  font-weight: 100;
  font-size: 0.6rem; }

section .one .map img {
  width: 0.75rem;
  height: 0.75rem; }

footer {
  width: 16rem;
  height: 16.1rem;
  background: #fcfcfc;
  position: relative;
  bottom: 0; }

footer .img1 {
  width: 12.25rem;
  height: 12.25rem;
  margin: 0 0 0 1.9rem;
  padding-top: 1.5rem;
  background: #fcfcfc; }

footer ul {
  width: 16rem;
  height: 6.15rem;
  margin: 2rem 0;
  position: relative;
  top: -13.75rem; }

footer ul li {
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #818181;
  border-bottom: 0.05rem solid #f1f1f1;
  font-weight: 100;
  font-size: 0.6rem; }

footer .img2 {
  width: 2.5rem;
  height: 1.4rem;
  position: relative;
  top: -13.75rem;
  margin-left: 6.75rem; }

footer div {
  margin: 1rem 0 1.5rem;
  padding: 0.75rem 0 0;
  position: relative;
  top: -14rem; }

footer div img {
  width: 0.4rem;
  height: 0.35rem;
  margin-left: 7.8rem;
  margin-bottom: -0.1rem; }

footer p {
  height: 1.3rem;
  text-align: center;
  line-height: 1.3rem;
  font-size: 0.6rem;
  color: #818181;
  font-weight: 100; }

/*# sourceMappingURL=search.css.map */
